:root {
	--bg1-color: snow;
	--bg2-color: linen;
	--bg3-color: floralwhite;
	--bg4-color:  white;
	--accent-color: orange;
	--border-color: silver;
	--text-color: dimgray;
	--min: 45px;
	--pad: 1rem;
	--gap:  .25rem;
}

@media (prefers-color-scheme: dark) {
	:root {
    --bg1-color: rgb(20, 20, 20);
		--bg2-color: rgb(40,40,40);
		--bg3-color: rgb(60, 60, 60);
		--bg4-color:  rgb(240,240,240);
		--accent-color: orange;
		--border-color: dimgray;
		--text-color: rgb(240, 240, 240);
	}
}

@media (max-width: 360px) {
	:root {
		--pad: 0;
		--gap: 0;
	}
}

body {
  background: var(--bg1-color);
  color: var(--text-color);
	font-family: sans-serif;
	font-size: 16px;
  height: 100%;
  letter-spacing: .1rem;
  line-height: 1.5rem;
  margin: auto;
	max-width: 1024px;
	padding: var(--pad);
}

/* * {
  scrollbar-width: thin;
  scrollbar-color: var(--border-color) var(--bg3-color);
} */

/**** Backgrounds ****/
	code
	{ background: var(--bg1-color); }

	section,
  summary
  { background: var(--bg2-color) }

	button,
	.card
	{ background: var(--bg3-color) }

	button.primary
	{ background: var(--accent-color); }

	input,
	select
	{ background: var(--bg4-color); }

  button:hover,
  summary:hover,
  details[open] > summary,
  option:checked
  { background: var(--accent-color) }

  button:active {
  	background: initial;
  }

/**** Borders ****/

	hr,
	button,
	details,
	input,
	select,
	option,
	.card
	{ border: 1px solid var(--border-color); }

  article,
  details,
  input,
  section,
  select,
  summary,
  .card
  { border-radius: .5rem; }

/**** Text ****/
	a
	{ color: var(--accent-color) }

	button
	{ color: var(--text-color) }

	button.primary
	{ color: var(--accent-text); }

	input,
	select,
	option
	{ font-size: 1rem; }

	label,
	select,
	option
	{ font-weight: bold; }

	summary {
		font-size: x-large;
		font-weight: bold;
	}

	code {
		font-family: courier, monospace;
	}

/**** Cursor ****/
	button,
	input[type="submit"],
	input[type="button"],
	input[type="color"],
	input[type="radio"],
	input[type="checkbox"],
	option,
	select,
	summary
	{ cursor: pointer; }

/**** Structure ****/
	body *
	{ box-sizing: border-box; }

	button
	{ padding: .5rem; }

	details
	{ overflow: auto; }

	details[open]
	{ height: 80vh; }

	details[open] > summary
	{ margin-bottom: 1rem; }

	div
	{ align-items: center; }

	fieldset > wijit-code
  { width: 100%; }

	h2
	{ margin-left: 1rem; }

	header
	{ flex: 0; }

	input,
	select,
	option
	{
		min-height: var(--min);
		min-width: var(--min);
	}

	input:not([type="color"]),
	option
	{ padding: var(--pad); }

	label
	{ display: inline-block; }

	li
	{ margin-bottom: 1rem; }

	option {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: var(--pad);
	}

	section {
		margin: 0 auto 1rem auto;
		padding: var(--pad);
	}

	select::-webkit-scrollbar {
    display: none;
	}

	summary {
		padding: var(--pad);
		position: sticky;
		top: 0;
		z-index: 1;
	}

	ul, ol
	{ margin: 0; }

	.card {
		min-width: 300px;
		padding:  var(--pad);
	}

	/* FLEX */

	.flex {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: var(--gap);
		justify-content: space-around;
	}

	.flex1
	{ flex: 1; }

	.flex2
	{ flex: 2; }

	.column
	{ flex-direction: column; }

	.row
	{ flex-direction: row; }

	.row-reverse
	{ flex-direction: row-reverse; }

	.vcenter
	{ justify-content: center; }

	.hcenter
	{ align-items: center; }

	.column.center
	{ align-items: center; }

	.end
	{ justify-content: end; }

	.column.end
	{ align-items: end; }

	.start
	{ justify-content: start; }

	.stretch {
		align-items: stretch;
	}

	.column.start
	{ align-items: start; }

	.space-between
	{ justify-content: space-between; }

	.gap2
	{ gap: calc(var(--gap) * 2); }

	.gap3
	{ gap: calc(var(--gap) * 3); }

	.gap4
	{ gap: calc(var(--gap) * 4); }

	.nowrap {
		flex-wrap: nowrap;
	}

	.wrap {
		flex-wrap: wrap;
	}

	/* GRID */

	.grid
	{ display: grid; }

	.row3
	{ grid-template-columns: 1fr 1fr 1fr; }

	.row3.center
	{ justify-items: center; }

	.sticky {
		position: sticky;
		top: 0;
		z-index: 10;
	}

	#instructions {
		padding: 1rem;
		/* text-indent: 3em; */
		white-space:pre-wrap;
	}

