body {
	--bg1-color: rgb(250, 250, 250);
	--bg2-color: #f2f2f2;
	--bg3-color: white;
	--bg4-color:  gainsboro;
	--accent-color: floralwhite;
	--border-color: silver;
	--text-color: dimgray;
	--min: 45px;
	--pad: 1rem;
	--gap:  .25rem;

  background: var(--bg1-color);
  color: var(--text-color);
	font-family: sans-serif;
	font-size: 16px;
  height: 100%;
  letter-spacing: .1rem;
  line-height: 1.5rem;
  margin: auto;
	max-width: 1024px;
	padding: var(--pad);
}

@media (prefers-color-scheme: dark) {
	body {
    --bg1-color: rgb(20, 20, 20);
		--bg2-color: rgb(40,40,40);
		--bg3-color: rgb(60, 60, 60);
		--accent-color: orange;
		--border-color: dimgray;
		--text-color: rgb(240, 240, 240);
	}
}

@media (max-width: 300px) {
	* { padding: 0; }
}

/**** Backgrounds ****/

	section,
  summary
  { background-color: var(--bg2-color) }

	button
	{ background-color: var(--bg3-color) }

	input,
	select
	{ background-color: var(--bg4-color); }

  button:hover,
  summary:hover,
  details[open] > summary,
  option:checked
  { background-color: var(--accent-color) }

  button:active {
  	background-color: initial;
  }

/**** Borders ****/

	button,
	details,
	input,
	select,
	option
	{ border: 1px solid var(--border-color); }

  article,
  details,
  input,
  section,
  select,
  summary
  { border-radius: .5rem; }

  wijit-tabs button
  { border-radius: .5rem .5rem 0 0 }

/**** Text ****/

	a
	{ color: var(--accent-color) }

	button
	{ color: var(--text-color) }

	button.active-tab {
		font-size: larger;
		font-weight: bold;
	}

	input,
	select,
	option
	{ font-size: 1rem; }

	label,
	select,
	option
	{ font-weight: bold; }

	summary
	{
		font-size: x-large;
		font-weight: bold;
	}

/**** Cursor ****/
	button,
	summary
	{ cursor: pointer; }

/**** Structure ****/
	body *
	{ box-sizing: border-box; }

	button
	{ padding: .5rem; }

	details
	{ overflow: auto; }

	details[open]
	{ height: 80vh; }

	details[open] > summary
	{ margin-bottom: 1rem; }

	div
	{ align-items: center; }

	fieldset > wijit-code
  { width: 100%; }

	h2
	{ margin-left: 1rem; }

	header
	{ flex: 0; }

	input,
	select,
	option
	{
		min-height: var(--min);
		min-width: var(--min);
	}

	label
	{ display: inline-block; }

	li
	{ margin-bottom: 1rem; }

	option {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: var(--pad);
	}

	section {
		margin: 0 auto 1rem auto;
		padding: var(--pad);
	}

	select::-webkit-scrollbar {
    display: none;
	}

	summary {
		padding: var(--pad);
		position: sticky;
		top: 0;
		z-index: 1;
	}

	ul, ol
	{ margin: 0; }

	.flex {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: var(--gap);
		justify-content: space-around;
	}

	.flex1
	{ flex: 1; }

	.flex2
	{ flex: 2; }

	.column
	{ flex-direction: column; }

	.row
	{ flex-direction: row; }

	.row-reverse
	{ flex-direction: row-reverse; }

	.center
	{ justify-content: center; }

	.column.center
	{ align-items: center; }

	.end
	{ justify-content: end; }

	.column.end
	{ align-items: end; }

	.start
	{ justify-content: start; }

	.column.start
	{ align-items: start; }

	.space-between
	{ justify-content: space-between; }

	.gap2
	{ gap: calc(var(--gap) * 2); }

	.gap3
	{ gap: calc(var(--gap) * 3); }

	.gap4
	{ gap: calc(var(--gap) * 4); }

	.nowrap {
		flex-wrap: nowrap;
	}

	.wrap {
		flex-wrap: wrap;
	}

	.sticky {
		position: sticky;
		top: 0;
		z-index: 10;
	}

	#instructions {
		padding: 1rem;
		/* text-indent: 3em; */
		white-space:pre-wrap;
	}

